  table, th, td {
             border: 1px solid black;
             border-collapse: collapse;
             border-bottom: 1px solid #ddd;
             background-color:white;

            }

  th, td {
          padding: 5px;
          text-align: left;
          border-bottom: 1px solid #ddd;
          }
h1 a {
    color: #0000FF;
    font-family: 'LOBSTER';
    background-color:#D3D3D3;
    color: black;
    font-size: 17px;
    border-radius: 20PX;
    padding: .8% 3%;
}
h2 a {

    color: #0000FF;
    font-family: '';
    background-color:#D3D3D3;
    color: black;
    font-size: 25px;
    border-radius: 20PX;
    padding: .8% 3%;

}
#bar{
    text-align:left;
    margin-bottom: 5%;

}
content container{
    text-align:center;
    align:center;
    margin:5px;
    float:left;

}

.page-header{
        margin:5px;
}


.savebtn-default{
    margin: 1%;
    text-align:center;
    align:
}
body {
    background-color: powderblue;
    margin:0px 0px; padding:0px;
    text-align:center;
    align:center;
}
input {
 width: 150px;
 margin-bottom: 10px;
 padding:8px
 float:left;
}

label {
 text-align: center;
 text-align:right;
 width: 75px;
 padding-right: 10px;
}

br {
 clear: left;
}

#bottom {
    text-align:center;
    position: fixed;
    left: 0;
    right: 0;
    height: 50%;
    bottom: 10;
    background-color:  powderblue;

}
.post-form{
    margin-top: 5%;
    text-align:center;

}

#form_bottom{
    margin-top: 5%;
}
/* Popup container - can be anything you want */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.row{
    margin-left: 30%;

}
button{
    background: lightgreen;
}