{% extends 'trains/base.html' %}
{% block title %}Route{% endblock %}
{% block body %}
{% load staticfiles %}
<html>
    <head>
        <title>Route</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/button.css' %}">
    </head>
    <body>
    <h2> <b>Search Results</b></h2>
    <p> Train Name : {{train_name.name}} <br>   Train Number : {{train_name.number}}</p>
    <br><br>
    <div>
        <table style="width:100%">
            <caption>Route</caption>
        {% for value in train_route %}
            <tr>
            <th>{{value.no}}</th>
            <th>{{value.station.name}}</th>
            </tr>

        {% endfor %}
        </table>
    </div>
    </body>

</html>

{% endblock %}