{% extends 'trains/base.html' %}
{% block title %}Log In{% endblock %}

{% block body %}

{% load staticfiles %}
<html>
    <head>
        <title>PAKKI SEAT</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
            <h1>
            <a href="{% url 'trains:search_sd' %}">Search train between Stations</a>
            <a href="{% url 'trains:search_train' %}">Train Route</a>
            <a href="{% url 'trains:live_train' %}">Live Train Status</a>
            <a href="{% url 'trains:pnrStatus' %}">PNR Status</a>
            <a href="{% url 'trains:fareEnquiry' %}">Train Fare Enquiry</a>
            </h1>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% csrf_token %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>

{% endblock %}