{% extends 'trains/base_visitor.html' %}

{% block title %}Register{% endblock %}

{% block body %}


   <div id="bottom">
    <div class = 'col-sm-12 col-md-7'>
        <div class="panel panel-default">
        <div class="panel-body">
            <h3>Create Account</h3>
            <form class="form-horizonatal" action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% include 'trains/form-template.html' %}
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="bun btn-success">Submit</button>
                    </div>
                </div>
            </form>

        </div>
        </div>
    </div>
   </div>>

{% endblock %}